*{
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins, sans-serif;
    color: $coltext;
    &.noIndexBody {
        background-color: $colBgBody;
    }
    &.backImage{
        background-image:url("../imagenes/Despertador.jpeg");
        background-size: cover;
    }
    nav {
        &.fontNav {
            font-size: 1.2rem;
        }
        &.bootnavbar{
            background: linear-gradient(to right, $colNav1, $colNav2);
        }
        .qoriLogo{
            animation-name: fliping;
            animation-iteration-count: 2;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            height: 3em;
        }
        .nav-link{
            transition: all 400ms ease-in-out;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
    header{  
        .bannerAlt{
            height: 400px;
            object-fit: cover;
        }
        .bannerTextPos{
            position: absolute;
            bottom: 10%;
            left: 3%;
        }
        .borde {
            @include borde ($colNav1, 0px, 0.25em);
        }
        h2 {
            @include paragraphs (fuerte, $colNav1, 0.3em);
            &.title {
                @include paragraphs (fuerte, $colBgBody, 0.4em);
            }
        }
    }
    section { 
        &.galeria {
            img, iframe {
                &.borde {
                    @include borde;
                }
            }
            p {
                &.borde {
                    @include borde ($colBorPar);
                }
            }
        }
        p {
            &.title {
                @include paragraphs (normal, $colBgBody, 0.5em);
            }
            &.stdPara {
                @include paragraphs;
                &-less {
                    @include paragraphs(suave, $colNav1, 0.5em);
                    @include borde ($colNav1);
                }
            }
        }
    }
    .linkButtons {
        div {
            @include borde ($colBorBut);
            transition: all 1s ease-in;
            &:hover {
                box-shadow: 0px 0px 20px red;
            }
        }
        a {
            text-decoration: none;
            color: $coltext;
            &:hover{
                color: $colLinkHover;
            }
        }
    }
    footer {
        &.pieDePagina{
            background-color: $colNav2;
            text-align: center;
            color: $colTextBlack;
        }
        .footDiv{
            display: inline;
        }
    }

}

@keyframes fliping {
	0% {transform: rotatex(0deg);}
	25%{transform: rotatex(90deg);}
	50%{transform: rotatex(180deg);}
	75%{transform: rotatex(270deg);}
	100%{transform: rotatex(360deg);}
}
