@mixin paragraphs ($fw: normal, $bgCol: $colNav1, $pad: 0.8em) {
    background-color: $bgCol;
    font-weight: map-get($fontWeight, $fw);
    padding: $pad;
}

@mixin borde ($borCol: $colBordImg, $br:0.5em, $bw: 0.25em)   {
    border-color: $borCol;
    border-radius: $br;
    border-style: solid;
    border-width: $bw;
}