$colNav1: rgb(10, 194, 201);
$colNav2: #6687ffb8;
$coltext: blue;
$colBord: #0d6efd;
$colBgBody: lightblue;
$colBgBut: orange;
$colBorBut: teal;
$colBorPar: gold;

$fontWeight: (suave:300, normal:400, fuerte:700);

$br-std: 0.5em;
