$colNav1: rgb(10, 194, 201);
$colNav2: #6687ffb8;
$coltext: blue;
$colBordImg: #0d6efd;
$colTextBlack: black;
$colBgBody: lightblue;
$colBgBut: orange;
$colBorBut: rgb(15, 128, 0);
$colBorPar: gold;
$colLinkHover: rgba(255, 51, 0, 0.877);

$fontWeight: (suave:300, normal:400, fuerte:700);

$br-std: 0.5em;
